<% layout('layouts/boilerplate') -%>

<h1>Post INDEEX</h1>

<div>
    <% posts.forEach((post) => { %>
    <h2>
        <%= post.title%>
    </h2>
    <div>Price : <%= post.price %></div>
    <div>Description : <%= post.description %></div>
    <div>Location : <%= post.location %></div>
    <div><a href="/posts/<%= post.id %>">View More</a></div>
    <% }) %>
</div>
