<link
    href="https://fonts.googleapis.com/css?family=Open+Sans"
    rel="stylesheet"
/>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link
    href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css"
    rel="stylesheet"
/>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        width: 900px;
        height: 300px;
    }
    .marker {
        background-image: url("/images/mapbox-icon.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }
</style>

<h1>
    <%= post.title%>
</h1>
<div>Price : <%= post.price %></div>
<div>Description : <%= post.description %></div>
<div>Location : <%= post.location %></div>
<div>
    <% post.images.forEach((image) => { %>
    <img src="<%= image.url %>" alt="" />
    <% }) %>
</div>

<div id="map"></div>

<div><a href="/posts/<%= post.id %>/edit">Edit!</a></div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button>DELETE POST</button>
    </form>
</div>

<script>
    mapboxgl.accessToken =
        "pk.eyJ1IjoiYmluZWV0bmFpZHUiLCJhIjoiY2tjcmRncHN4MG96eDMwbWdyajB1OGJkdiJ9.osACZLXZrpFZ1zSOX7IzHA";

    var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/light-v10",
        center: [-96, 37.8],
        zoom: 3,
    });

    // code from the next step will go here!
    var geojson = {
        type: "FeatureCollection",
        features: [
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [-77.032, 38.913],
                },
                properties: {
                    title: "Mapbox",
                    description: "Washington, D.C.",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [-122.414, 37.776],
                },
                properties: {
                    title: "Mapbox",
                    description: "San Francisco, California",
                },
            },
        ],
    };

    // add markers to map
    geojson.features.forEach(function (marker) {
        // create a HTML element for each feature
        var el = document.createElement("div");
        el.className = "marker";

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .setPopup(
                new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML(
                        "<h3>" +
                            marker.properties.title +
                            "</h3><p>" +
                            marker.properties.description +
                            "</p>"
                    )
            )
            .addTo(map);
    });
</script>
